In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from sqlalchemy import create_engine

In [2]:
#data from CSV file exported from FanGraphs
csv_file = "yankees.csv"
yankees_df = pd.read_csv(csv_file)
yankees_df.head()

,Name,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,DJ LeMahieu,145,655,26,109,102,5,7.0 %,13.7 %,0.191,...,0.327,0.375,0.518,0.375,136.0,-0.8,29.2,2.8,5.4,9874
1,Aaron Judge,102,447,27,75,55,3,14.3 %,31.5 %,0.267,...,0.272,0.381,0.540,0.382,141.0,0.4,23.7,7.6,4.6,15640
2,Gleyber Torres,144,604,38,96,90,5,7.9 %,21.4 %,0.256,...,0.278,0.337,0.535,0.358,125.0,-0.5,18.7,-2.6,3.6,16997
3,Brett Gardner,141,550,28,86,74,10,9.5 %,19.6 %,0.253,...,0.251,0.325,0.503,0.344,115.0,4.6,15.2,2.5,3.6,9927
4,Giovanny Urshela,132,476,21,73,74,1,5.3 %,18.3 %,0.219,...,0.314,0.355,0.534,0.369,132.0,-3.1,16.4,-1.1,3.1,10681

In [3]:
#Cleaning up for the columns we want
nyy_df = yankees_df[['Name', 'HR', 'AVG', 'OBP', 'RBI', 'SB']].copy()
nyy_df['Name'][4] = 'Gio Urshela'
nyy_df.head()

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Name  HR    AVG    OBP  RBI  SB
0     DJ LeMahieu  26  0.327  0.375  102   5
1     Aaron Judge  27  0.272  0.381   55   3
2  Gleyber Torres  38  0.278  0.337   90   5
3   Brett Gardner  28  0.251  0.325   74  10
4     Gio Urshela  21  0.314  0.355   74   1

In [4]:
#testing the response to see what the JSON looks like
url= "http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part="
response = requests.get(url + "'"+nyy_df['Name'][0]+"'")
print(response.url)

http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part='DJ%20LeMahieu'

In [5]:
data = response.json()
pprint(data)

{'search_player_all': {'copyRight': ' Copyright 2019 MLB Advanced Media, L.P.  '
                                    'Use of any content on this page '
                                    'acknowledges agreement to the terms '
                                    'posted here '
                                    'http://gdx.mlb.com/components/copyright.txt  ',
                       'queryResults': {'created': '2019-10-14T23:29:27',
                                        'row': {'active_sw': 'Y',
                                                'bats': 'R',
                                                'birth_city': 'Visalia',
                                                'birth_country': 'USA',
                                                'birth_date': '1988-07-13T00:00:00',
                                                'birth_state': 'CA',
                                                'college': 'Louisiana State',
                                                'height_feet': '6',
                                                'height_inches': '4',
                                                'high_school': 'Brother Rice, '
                                                               'Bloomfield '
                                                               'Hills, MI',
                                                'league': 'AL',
                                                'name_display_first_last': 'DJ '
                                                                           'LeMahieu',
                                                'name_display_last_first': 'LeMahieu, '
                                                                           'DJ',
                                                'name_display_roster': 'LeMahieu',
                                                'name_first': 'DJ',
                                                'name_last': 'LeMahieu',
                                                'name_use': 'DJ',
                                                'player_id': '518934',
                                                'position': '2B',
                                                'position_id': '4',
                                                'pro_debut_date': '2011-05-30T00:00:00',
                                                'service_years': '',
                                                'sport_code': 'mlb',
                                                'team_abbrev': 'NYY',
                                                'team_code': 'nya',
                                                'team_full': 'New York Yankees',
                                                'team_id': '147',
                                                'throws': 'R',
                                                'weight': '215'},
                                        'totalSize': '1'}}}

In [6]:
#testing pulling specific data
data['search_player_all']['queryResults']['row']['bats']

'R'

In [7]:
#testing adding data from Json to list
nyy_df['Name'][0]
pInfoList = []
pInfoList.append(nyy_df['Name'][0])
pInfoList.append(data['search_player_all']['queryResults']['row']['bats'])
pInfoList

['DJ LeMahieu', 'R']

In [8]:
#Adding specific data for each player to a list and adding each list to a list of lists
nyyInfo = []
i = 0
while i < len(nyy_df['Name']):
    pInfoList = []
    pInfoList.append(nyy_df['Name'][i])
    response = requests.get(url + "'"+nyy_df['Name'][i]+"'")
    data = response.json()
    try:
        pInfoList.append(data['search_player_all']['queryResults']['row']['bats'])
        pInfoList.append(data['search_player_all']['queryResults']['row']['throws'])
        pInfoList.append(data['search_player_all']['queryResults']['row']['position'])
    except:
        pInfoList.append('NaN')
        pInfoList.append('NaN')
        pInfoList.append('NaN')
    nyyInfo.append(pInfoList)
    i = i +1

In [9]:
nyyInfo

[['DJ LeMahieu', 'R', 'R', '2B'],
 ['Aaron Judge', 'R', 'R', 'RF'],
 ['Gleyber Torres', 'R', 'R', 'SS'],
 ['Brett Gardner', 'L', 'L', 'CF'],
 ['Gio Urshela', 'R', 'R', '3B'],
 ['Mike Tauchman', 'L', 'L', 'CF'],
 ['Gary Sanchez', 'R', 'R', 'C'],
 ['Luke Voit', 'R', 'R', '1B'],
 ['Cameron Maybin', 'R', 'R', 'LF'],
 ['Aaron Hicks', 'S', 'R', 'CF'],
 ['Didi Gregorius', 'L', 'R', 'SS'],
 ['Austin Romine', 'R', 'R', 'C'],
 ['Edwin Encarnacion', 'R', 'R', '1B'],
 ['Mike Ford', 'L', 'R', '1B'],
 ['Kyle Higashioka', 'R', 'R', 'C'],
 ['Giancarlo Stanton', 'R', 'R', 'LF'],
 ['Tyler Wade', 'L', 'R', 'SS'],
 ['Thairo Estrada', 'R', 'R', '2B'],
 ['Clint Frazier', 'R', 'R', 'RF'],
 ['Breyvic Valera', 'S', 'R', '2B'],
 ['Troy Tulowitzki', 'R', 'R', 'SS'],
 ['Adam Ottavino', 'S', 'R', 'P'],
 ['Zack Britton', 'L', 'L', 'P'],
 ['Dellin Betances', 'R', 'R', 'P'],
 ['Cory Gearrin', 'R', 'R', 'P'],
 ['David Hale', 'R', 'R', 'P'],
 ['Aroldis Chapman', 'L', 'L', 'P'],
 ['Tyler Lyons', 'L', 'L', 'P'],
 ['Tommy Kahnle', 'R', 'R', 'P'],
 ['Jake Barrett', 'R', 'R', 'P'],
 ['Ryan Dull', 'R', 'R', 'P'],
 ['Brady Lail', 'R', 'R', 'P'],
 ['Joe Mantiply', 'R', 'L', 'P'],
 ['Ben Heller', 'R', 'R', 'P'],
 ['Stephen Tarpley', 'R', 'L', 'P'],
 ['Luis Severino', 'R', 'R', 'P'],
 ['Joe Harvey', 'R', 'R', 'P'],
 ['Jordan Montgomery', 'L', 'L', 'P'],
 ['Jonathan Holder', 'R', 'R', 'P'],
 ['Nestor Cortes', 'NaN', 'NaN', 'NaN'],
 ['Adonis Rosa', 'R', 'R', 'P'],
 ['Chance Adams', 'R', 'R', 'P'],
 ['Jonathan Loaisiga', 'R', 'R', 'P'],
 ['Michael King', 'R', 'R', 'P'],
 ['Luis Cessa', 'R', 'R', 'P'],
 ['Chad Green', 'L', 'R', 'P'],
 ['Masahiro Tanaka', 'R', 'R', 'P'],
 ['CC Sabathia', 'L', 'L', 'P'],
 ['J.A. Happ', 'L', 'L', 'P'],
 ['Greg Bird', 'L', 'R', '1B'],
 ['James Paxton', 'L', 'L', 'P'],
 ['Domingo German', 'R', 'R', 'P'],
 ['Kendrys Morales', 'S', 'R', 'DH'],
 ['Miguel Andujar', 'R', 'R', '3B']]

In [10]:
#converting list of lists to a dataframe
nyyJson = pd.DataFrame(nyyInfo)
nyyJson.columns=['Name', 'Bats', 'Throws', 'Position']
nyyJson.head()

             Name Bats Throws Position
0     DJ LeMahieu    R      R       2B
1     Aaron Judge    R      R       RF
2  Gleyber Torres    R      R       SS
3   Brett Gardner    L      L       CF
4     Gio Urshela    R      R       3B

In [11]:
#connecting to SQL server  

rds_connection_string = "postgres:postgres@127.0.0.1/DataBases"
engine = create_engine(f'postgresql://postgres:postgres@127.0.0.1/baseball')

In [12]:
engine.table_names()

['player_stats', 'player_Info']

In [13]:
#use pandas to load CSV dataframe into database
nyy_df.to_sql(name='player_stats', con=engine, if_exists='append', index=False)

In [14]:
#use pandas to load JSON dataframe into database
nyyJson.to_sql(name='player_info', con=engine, if_exists='append', index=False)

In [15]:
#confirm data has been added by querying
pd.read_sql_query('select * from player_stats', con=engine).head()

             Name  HR    AVG    OBP  RBI  SB
0     DJ LeMahieu  26  0.327  0.375  102   5
1     Aaron Judge  27  0.272  0.381   55   3
2  Gleyber Torres  38  0.278  0.337   90   5
3   Brett Gardner  28  0.251  0.325   74  10
4     Gio Urshela  21  0.314  0.355   74   1

In [16]:
#confirm data has been added by querying
pd.read_sql_query('select * from player_info', con=engine).head()

             Name Bats Throws Position
0     DJ LeMahieu    R      R       2B
1     Aaron Judge    R      R       RF
2  Gleyber Torres    R      R       SS
3   Brett Gardner    L      L       CF
4     Gio Urshela    R      R       3B

In [17]:
engine.table_names()

['player_stats', 'player_Info', 'player_info']