In [1]:
import pandas as pd
import requests
import json
from pprint import pprint
from sqlalchemy import create_engine

In [2]:
#data from CSV file exported from FanGraphs
ycsv_file = "yankees.csv"
yankees_df = pd.read_csv(ycsv_file)
yankees_df.head()

,Name,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,DJ LeMahieu,145,655,26,109,102,5,7.0 %,13.7 %,0.191,...,0.327,0.375,0.518,0.375,136.0,-0.8,29.2,2.8,5.4,9874
1,Aaron Judge,102,447,27,75,55,3,14.3 %,31.5 %,0.267,...,0.272,0.381,0.540,0.382,141.0,0.4,23.7,7.6,4.6,15640
2,Gleyber Torres,144,604,38,96,90,5,7.9 %,21.4 %,0.256,...,0.278,0.337,0.535,0.358,125.0,-0.5,18.7,-2.6,3.6,16997
3,Brett Gardner,141,550,28,86,74,10,9.5 %,19.6 %,0.253,...,0.251,0.325,0.503,0.344,115.0,4.6,15.2,2.5,3.6,9927
4,Giovanny Urshela,132,476,21,73,74,1,5.3 %,18.3 %,0.219,...,0.314,0.355,0.534,0.369,132.0,-3.1,16.4,-1.1,3.1,10681

In [3]:
mcsv_file = "mets.csv"
mets_df = pd.read_csv(mcsv_file)
mets_df.head()

,Name,G,PA,HR,R,RBI,SB,BB%,K%,ISO,...,AVG,OBP,SLG,wOBA,wRC+,BsR,Off,Def,WAR,playerid
0,Peter Alonso,161,693,53,103,120,1,10.4 %,26.4 %,0.323,...,0.260,0.358,0.583,0.384,143.0,-2.2,37.0,-9.7,4.8,19251
1,Jeff McNeil,133,567,23,83,75,5,6.2 %,13.2 %,0.214,...,0.318,0.384,0.531,0.384,143.0,-2.9,29.4,-0.8,4.6,15362
2,Michael Conforto,151,648,33,90,92,7,13.0 %,23.0 %,0.237,...,0.257,0.363,0.494,0.358,126.0,1.4,23.6,-6.0,3.7,16376
3,Amed Rosario,157,655,15,75,72,19,4.7 %,18.9 %,0.144,...,0.287,0.323,0.432,0.318,100.0,1.3,1.1,5.9,2.7,15518
4,J.D. Davis,140,453,22,65,57,3,8.4 %,21.4 %,0.220,...,0.307,0.369,0.527,0.373,136.0,-2.8,18.7,-9.0,2.4,16219

In [4]:
#Cleaning up for the columns we want
nyy_df = yankees_df[['Name', 'HR', 'AVG', 'OBP', 'RBI', 'SB']].copy()
nyy_df['Name'][4] = 'Gio Urshela'
nyy_df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

             Name  HR    AVG    OBP  RBI  SB
0     DJ LeMahieu  26  0.327  0.375  102   5
1     Aaron Judge  27  0.272  0.381   55   3
2  Gleyber Torres  38  0.278  0.337   90   5
3   Brett Gardner  28  0.251  0.325   74  10
4     Gio Urshela  21  0.314  0.355   74   1

In [5]:
nym_df = mets_df[['Name', 'HR', 'AVG', 'OBP', 'RBI', 'SB']].copy()
nym_df.head()

               Name  HR    AVG    OBP  RBI  SB
0      Peter Alonso  53  0.260  0.358  120   1
1       Jeff McNeil  23  0.318  0.384   75   5
2  Michael Conforto  33  0.257  0.363   92   7
3      Amed Rosario  15  0.287  0.323   72  19
4        J.D. Davis  22  0.307  0.369   57   3

In [6]:
#testing the response to see what the JSON looks like
yurl= "http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part="
yresponse = requests.get(yurl + "'"+nyy_df['Name'][0]+"'")

murl= "http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part="
mresponse = requests.get(murl + "'"+nym_df['Name'][0]+"'")

print(yresponse.url)
print(mresponse.url)

http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part='DJ%20LeMahieu'
http://lookup-service-prod.mlb.com/json/named.search_player_all.bam?sport_code='mlb'&active_sw='Y'&name_part='Peter%20Alonso'

In [7]:
ydata = yresponse.json()
pprint(ydata)

mdata = mresponse.json()
pprint(mdata)

{'search_player_all': {'copyRight': ' Copyright 2019 MLB Advanced Media, L.P.  '
                                    'Use of any content on this page '
                                    'acknowledges agreement to the terms '
                                    'posted here '
                                    'http://gdx.mlb.com/components/copyright.txt  ',
                       'queryResults': {'created': '2019-10-15T23:32:40',
                                        'row': {'active_sw': 'Y',
                                                'bats': 'R',
                                                'birth_city': 'Visalia',
                                                'birth_country': 'USA',
                                                'birth_date': '1988-07-13T00:00:00',
                                                'birth_state': 'CA',
                                                'college': 'Louisiana State',
                                                'height_feet': '6',
                                                'height_inches': '4',
                                                'high_school': 'Brother Rice, '
                                                               'Bloomfield '
                                                               'Hills, MI',
                                                'league': 'AL',
                                                'name_display_first_last': 'DJ '
                                                                           'LeMahieu',
                                                'name_display_last_first': 'LeMahieu, '
                                                                           'DJ',
                                                'name_display_roster': 'LeMahieu',
                                                'name_first': 'DJ',
                                                'name_last': 'LeMahieu',
                                                'name_use': 'DJ',
                                                'player_id': '518934',
                                                'position': '2B',
                                                'position_id': '4',
                                                'pro_debut_date': '2011-05-30T00:00:00',
                                                'service_years': '',
                                                'sport_code': 'mlb',
                                                'team_abbrev': 'NYY',
                                                'team_code': 'nya',
                                                'team_full': 'New York Yankees',
                                                'team_id': '147',
                                                'throws': 'R',
                                                'weight': '215'},
                                        'totalSize': '1'}}}
{'search_player_all': {'copyRight': ' Copyright 2019 MLB Advanced Media, L.P.  '
                                    'Use of any content on this page '
                                    'acknowledges agreement to the terms '
                                    'posted here '
                                    'http://gdx.mlb.com/components/copyright.txt  ',
                       'queryResults': {'created': '2019-10-15T00:25:17',
                                        'totalSize': '0'}}}

In [8]:
#testing pulling specific data
ydata['search_player_all']['queryResults']['row']['bats']

'R'

In [9]:
#testing adding data from Json to list
nyy_df['Name'][0]
pInfoList = []
pInfoList.append(nyy_df['Name'][0])
pInfoList.append(ydata['search_player_all']['queryResults']['row']['bats'])
pInfoList

['DJ LeMahieu', 'R']

In [10]:
#Adding specific data for each player to a list and adding each list to a list of lists
nyyInfo = []
i = 0
while i < len(nyy_df['Name']):
    pInfoList = []
    pInfoList.append(nyy_df['Name'][i])
    yresponse = requests.get(yurl + "'"+nyy_df['Name'][i]+"'")
    ydata = yresponse.json()
    try:
        pInfoList.append(ydata['search_player_all']['queryResults']['row']['bats'])
        pInfoList.append(ydata['search_player_all']['queryResults']['row']['throws'])
        pInfoList.append(ydata['search_player_all']['queryResults']['row']['position'])
    except:
        pInfoList.append('NaN')
        pInfoList.append('NaN')
        pInfoList.append('NaN')
    nyyInfo.append(pInfoList)
    i = i +1

In [11]:
nyminfo = []
i = 0
while i < len(nym_df['Name']):
    pInfoList = []
    pInfoList.append(nym_df['Name'][i])
    mresponse = requests.get(murl + "'"+nym_df['Name'][i]+"'")
    mdata = mresponse.json()
    try:
        pInfoList.append(mdata['search_player_all']['queryResults']['row']['bats'])
        pInfoList.append(mdata['search_player_all']['queryResults']['row']['throws'])
        pInfoList.append(mdata['search_player_all']['queryResults']['row']['position'])
    except:
        pInfoList.append('NaN')
        pInfoList.append('NaN')
        pInfoList.append('NaN')
    nyminfo.append(pInfoList)
    i = i +1

In [12]:
#converting list of lists to a dataframe
nyyJson = pd.DataFrame(nyyInfo)
nyyJson.columns=['Name', 'Bats', 'Throws', 'Position']
nyyJson.head()

             Name Bats Throws Position
0     DJ LeMahieu    R      R       2B
1     Aaron Judge    R      R       RF
2  Gleyber Torres    R      R       SS
3   Brett Gardner    L      L       CF
4     Gio Urshela    R      R       3B

In [13]:
nymJson = pd.DataFrame(nyminfo)
nymJson.columns=['Name', 'Bats', 'Throws', 'Position']
nymJson.head()

               Name Bats Throws Position
0      Peter Alonso  NaN    NaN      NaN
1       Jeff McNeil    L      R       LF
2  Michael Conforto    L      R       RF
3      Amed Rosario    R      R       SS
4        J.D. Davis    R      R       3B

In [14]:
#connecting to SQL server (it is only slightly different for Postgres(see this week's activity 1), 
#I was never able to get postgres working so I use MySQL, think we c should turn in Postgres code though
#I created the etl database schema and tables in MySQL (see SQL file in repo)
rds_connection_string = "root:Babe1212@localhost:3306/etl"
engine = create_engine(f'mysql://{rds_connection_string}')

#engine = create_engine(f'postgresql://postgres:postgres@127.0.0.1/baseball')

In [15]:
#use pandas to load CSV dataframe into database
nyy_df.to_sql(name='player_stats', con=engine, if_exists='append', index=False)
nym_df.to_sql(name='player_stats', con=engine, if_exists='append', index=False)

In [16]:
#use pandas to load JSON dataframe into database
nyyJson.to_sql(name='player_Info', con=engine, if_exists='append', index=False)
nymJson.to_sql(name='player_info', con=engine, if_exists='append', index=False)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:1191: UserWarning: The provided table name 'player_Info' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [17]:
#confirm data has been added by querying
pd.read_sql_query('select * from player_stats', con=engine).head()

                 Name  HR    AVG    OBP  RBI  SB
0       Aaron Altherr   1  0.129  0.200    2   0
1         Aaron Hicks  12  0.235  0.325   36   1
2         Aaron Judge  27  0.272  0.381   55   3
3       Adam Ottavino   0  0.000  0.000    0   0
4  Adeiny Hechavarria   5  0.204  0.252   18   3

In [18]:
#confirm data has been added by querying
pd.read_sql_query('select * from player_info', con=engine).head()

                 Name Bats Throws Position
0       Aaron Altherr    R      R       CF
1         Aaron Hicks    S      R       CF
2         Aaron Judge    R      R       RF
3       Adam Ottavino    S      R        P
4  Adeiny Hechavarria    R      R       2B

In [19]:
pd.read_sql_query("SELECT s.*, i.Bats, i.Throws, i.Position FROM player_info i INNER JOIN player_stats s ON s.Name = i.Name WHERE i.Bats = 'L' and s.HR > 20;"
                  , con=engine).head()

               Name  HR    AVG    OBP  RBI  SB Bats Throws Position
0     Brett Gardner  28  0.251  0.325   74  10    L      L       CF
1       Jeff McNeil  23  0.318  0.384   75   5    L      R       LF
2  Michael Conforto  33  0.257  0.363   92   7    L      R       RF

In [ ]:
#Advance Query
#test = pd.read_sql_query('''SELECT player_stats.*, player_info."Bats", player_info."Throws", player_info."Position" FROM player_info
#INNER JOIN player_stats ON player_stats."Name" = player_info."Name"
#WHERE player_info."Bats" = 'L' and player_stats."HR" > 20;''', con=engine)